<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.common.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCourse</servlet-name>
        <servlet-class>controller.common.ShowCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>controller.admin.course.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>controller.admin.course.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClass</servlet-name>
        <servlet-class>controller.common.ShowClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClasses</servlet-name>
        <servlet-class>controller.admin.classes.UpdateClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClasses</servlet-name>
        <servlet-class>controller.admin.classes.DeleteClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClasses</servlet-name>
        <servlet-class>controller.admin.classes.CreateClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourse</servlet-name>
        <servlet-class>controller.admin.course.CreateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.common.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.common.user.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.common.user.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>controller.common.user.ShowUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrolClasses</servlet-name>
        <servlet-class>controller.student.enrol.EnrolClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyClassesServlet</servlet-name>
        <servlet-class>controller.student.classes.MyClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSchedule</servlet-name>
        <servlet-class>controller.common.viewSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherClasses</servlet-name>
        <servlet-class>controller.teacher.TeacherClasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherStudents</servlet-name>
        <servlet-class>controller.teacher.TeacherStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assignment</servlet-name>
        <servlet-class>controller.teacher.Assignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAssignment</servlet-name>
        <servlet-class>controller.teacher.CreateAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAssignment</servlet-name>
        <servlet-class>controller.teacher.UpdateAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAssignment</servlet-name>
        <servlet-class>controller.teacher.DeleteAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Submissions</servlet-name>
        <servlet-class>controller.teacher.submissions.Submissions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeSubmission</servlet-name>
        <servlet-class>controller.teacher.submissions.GradeSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScore</servlet-name>
        <servlet-class>controller.student.ViewScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubmission</servlet-name>
        <servlet-class>controller.common.ViewSubmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudents</servlet-name>
        <servlet-class>controller.common.ViewStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubmissionOfAStudent</servlet-name>
        <servlet-class>controller.teacher.submissions.ViewSubmissionOfAStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendance</servlet-name>
        <servlet-class>controller.teacher.Attendance.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAttendance</servlet-name>
        <servlet-class>controller.teacher.Attendance.SaveAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            MainController
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCourse</servlet-name>
        <url-pattern>/ShowCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClass</servlet-name>
        <url-pattern>/ShowClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClasses</servlet-name>
        <url-pattern>/UpdateClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClasses</servlet-name>
        <url-pattern>/DeleteClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClasses</servlet-name>
        <url-pattern>/CreateClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourse</servlet-name>
        <url-pattern>/CreateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/ShowUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrolClasses</servlet-name>
        <url-pattern>/EnrolClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyClassesServlet</servlet-name>
        <url-pattern>/MyClassesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSchedule</servlet-name>
        <url-pattern>/viewSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherClasses</servlet-name>
        <url-pattern>/TeacherClasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherStudents</servlet-name>
        <url-pattern>/TeacherStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assignment</servlet-name>
        <url-pattern>/Assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAssignment</servlet-name>
        <url-pattern>/CreateAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAssignment</servlet-name>
        <url-pattern>/UpdateAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAssignment</servlet-name>
        <url-pattern>/DeleteAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submissions</servlet-name>
        <url-pattern>/Submissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeSubmission</servlet-name>
        <url-pattern>/GradeSubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScore</servlet-name>
        <url-pattern>/ViewScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubmission</servlet-name>
        <url-pattern>/ViewSubmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudents</servlet-name>
        <url-pattern>/ViewStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubmissionOfAStudent</servlet-name>
        <url-pattern>/ViewSubmissionOfAStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendance</servlet-name>
        <url-pattern>/TakeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAttendance</servlet-name>
        <url-pattern>/SaveAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
